<div class="center hero-unit">
  <h1>Go on a great adventure.</h1>
  <p>&nbsp;</p>
  <%= link_to "Explore now", signup_path, class: "btn btn-large btn-primary" %>
</div>

<center><p><%= link_to image_tag("trip-anchorage.jpg", alt: "Anchorage", width: "33%"), 'http://usegust.com/' %> <%= link_to image_tag("trip-anchorage.jpg", alt: "Anchorage", width: "33%"), 'http://usegust.com/' %> <%= link_to image_tag("trip-anchorage.jpg", alt: "Anchorage", width: "33%"), 'http://usegust.com/' %></p>
	<p><%= link_to image_tag("trip-anchorage.jpg", alt: "Anchorage", width: "33%"), 'http://usegust.com/' %> <%= link_to image_tag("trip-anchorage.jpg", alt: "Anchorage", width: "33%"), 'http://usegust.com/' %> <%= link_to image_tag("trip-anchorage.jpg", alt: "Anchorage", width: "33%"), 'http://usegust.com/' %></p>
</center>